<div class='display'>
  <div>
    <h2>Hey! Do you want to connect with us</h2>
    <div class='text'>
      <%= form_for User.new, url: :user_registration do |f| %>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        <%= f.hidden_field :password,value: Devise.friendly_token[5,20] %>
        <%= f.submit "Connect" %>
      <% end %>
    </div>
    <div class="text">
      <h2>
        Already have an account ?<%= link_to 'Log in', new_user_session_path,
          class:'btn btn-lg btn-primary' %>
      </h2>
    </div>
  </div>
</div>
