<% if user_signed_in? %>
  <div class="background">
    <div class="tabs">
      <div class="tab-size"><button style="border:none;">Dashboard</button></div>
      <div class="tab-size"><button style="border:none;">Settings</button></div>
      <div class="tab-size"><button style="border:none;">Curriculum</button></div>
      <div class="tab-size"><button style="border:none;">Analytics</button></div>
      <div class="tab-size"><button style="border:none;">Reminders</button></div>
      <div class="tab-size"><button style="border:none;">View Groups</button></div>
      <div class="tab-size"><button style="border:none;">Invite Organization
      </button></div>
    </div>
    <div>

    </div>
  </div>
<% else %>
  <div class="form_fields">
    <div class='background'>
      <div>
        <h2>Hey! Do you want to connect with us</h2>
        <div class='text'>
          <%= form_for User.new, url: :user_registration do |f| %>
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            <%= f.hidden_field :password,value: '123456' %>
            <%= f.submit "Connect" %>
          <% end %>
        </div>
        <div class="text">
          <h2>
            Already have an account ?<%= link_to 'Log in', new_user_session_path,
              class:'btn btn-lg btn-primary' %>
          </h2>
        </div>
      </div>
    </div>
  </div>
<% end %>
