<% if @user.present? %>
  <% if user_signed_in? %>
    <h2>Not allowed</h2>
  <% elsif @user.confirmed? %>
    <h2>You have already signed-up</h2>
  <% else %>
    <div class="container">
      <div class="form_fields">
        <%= form_for @user, url: :signup  do |f| %>
          <div class="field">
            <h4>Email:</h4>
            <%= f.text_field :email, value: @user.email, disabled: true %>
          </div>

          <div class="field">
            <h4>First Name:</h4>
            <%= text_field_tag :'user_profile[first_name]'  %><br />

            <h4>Last Name:</h4>
            <%= text_field_tag :'user_profile[last_name]'  %><br />

            <h4>Phone:</h4>
            <%= text_field_tag :'user_profile[phone]' %><br />
          </div>

          <div class="field">
            <h4>Organization Name:</h4>
            <%= text_field_tag :'organization[organization_name]' %><br />
          </div>

          <div class="field">
            <h4>password:</h4>
            <%= f.password_field :password, autocomplete: "new-password" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="field">
            <h4>password_confirmation:</h4>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %><br><br>
          </div>

          <div class="field">
            <%= f.submit "Sign-up" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>