<div class="container">
  <div class="form_fields">
    <h2><%= t "devise.invitations.edit.header" %></h2>

    <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :invitation_token, readonly: true %>

      <div class="field">
        <h4>First Name:</h4>
        <%= text_field_tag :'user_profile[first_name]',  @user.user_profile.first_name %>
      </div>

      <div class="field">
        <h4>Last Name:</h4>
        <%= text_field_tag :'user_profile[last_name]', @user.user_profile.last_name %>
      </div>

      <div class="field">
        <h4>Email:</h4>
        <%= text_field_tag :email, @user.email, disabled: true %>
      </div>

      <div class="field">
        <h4>phone:</h4>
        <%= text_field_tag :'user_profile[phone]', @user.user_profile.phone %>
      </div>

      <% if f.object.class.require_password_on_accepting %>
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit t("devise.invitations.edit.submit_button") %>
      </div>
    <% end %>
  </div>
</div>