<div class="form_fields" data-controller='tab'>

<h2><%= t "devise.invitations.new.header" %></h2>
  <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <h4>First Name:</h4>
      <%= text_field_tag :'user_profile[first_name]'  %><br />

      <h4>Last Name:</h4>
      <%= text_field_tag :'user_profile[last_name]'  %><br />

      <h4>Phone:</h4>
      <%= text_field_tag :'user_profile[phone]' %><br />
    </div>

    <% resource.class.invite_key_fields.each do |field| -%>
      <div class="field">
        <%= f.label field %><br />
        <%= f.text_field field %>
      </div>
    <% end -%>

    <div class="field">
      <h4>Group Name:</h4>
      <%= text_field_tag :'group[group_name]' %><br />
    </div>

    <div class="actions">
      <%= f.submit t("devise.invitations.new.submit_button") %>
    </div>
  <% end %>
</div>
