<% if current_user.role.role_name == 'admin' %>
  <div class="background">
    <div class="tabs" data-tab-target="info">
      <div class="tab-size"><%= link_to 'Dashboard', dashboards_path  %></div>
      <div class="tab-size"><%= link_to 'Settings','' %></div>
      <div class="tab-size"><%= link_to 'Curriculum', '' %></div>
      <div class="tab-size"><%= link_to  'Analytics', ''%></div>
      <div class="tab-size"><%= link_to  'Reminders', ''%></div>
      <div class="tab-size" data-action="tab#infoShow"><%= link_to  'View Groups', new_user_invitation_path  %></div>
      <div class="tab-size"><%= link_to  'Invite Organization', ''%></div>
    </div>
    <% if params[:group_id].blank? %>
      <div class="form">
        <div class="form_data">
          <h2 style='text-align: center'><%= t "devise.invitations.new.header" %></h2>
          <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: {class: 'invite_leader', method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div>
              <h4>First Name:</h4>
              <%= text_field_tag :'user_profile[first_name]'  %><br />
            </div>

            <div>
              <h4>Last Name:</h4>
              <%= text_field_tag :'user_profile[last_name]'  %><br />
            </div>

            <div>
              <h4>Phone:</h4>
              <%= text_field_tag :'user_profile[phone]' %><br />
            </div>

            <% resource.class.invite_key_fields.each do |field| -%>
              <div>
                <h4>Email:</h4>
                <%= f.text_field field %>
              </div>
            <% end -%>

            <div>
              <h4>Group Name:</h4>
              <%= text_field_tag :'group[group_name]' %><br /><br />
              <%= hidden_field_tag :'group[organization_id]', current_user.organization.id %>
            </div>

            <div>
              <%= hidden_field_tag  :'user[password]' , Devise.friendly_token[5,20] %>
              <%= hidden_field_tag :'user[skip_invitation]', 'true' %>
              <%= hidden_field_tag :'role[role_name]', 'leader' %>
            </div>

            <div class="actions invite_button">
              <h2><%= f.submit t("devise.invitations.new.submit_button") %></h2>
            </div>
          <% end %>
        </div>
      </div>
  </div>
  <div class="form_data info">
    <h2>Groups</h2>
    <table>
      <thead>
        <tr>
          <th>Group Name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% group.each do |g| %>
          <tr>
            <td><%= g.group_name %></td>
            <% if g.leader.confirmed? %>
              <td><%= link_to 'show', group_path(g.id) %></td>
            <% else %>
              <td><%= link_to 'resend_invite', "/users/#{g.leader.id}/resend_invitation",
              data: { turbo_method: :patch } %></td>
              <td><%= link_to 'send_invite_to_another_leader',
                new_user_invitation_path(group_id: g)%></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% else %>
    <div class="form">
      <div>
        <h2 style='text-align: center'>Invite new leader for group</h2>
          <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

          <div>
            <h4>First Name:</h4>
            <%= text_field_tag :'user_profile[first_name]'  %><br />
          </div>

          <div>
            <h4>Last Name:</h4>
            <%= text_field_tag :'user_profile[last_name]'  %><br />
          </div>

          <div>
            <h4>Phone:</h4>
            <%= telephone_field_tag :'user_profile[phone]' %><br />
          </div>

          <div>
            <h4>Email:</h4>
            <%= email_field_tag :'user[email]' %><br /><br />
          </div>

          <div>
            <%= hidden_field_tag  :'user[password]' , Devise.friendly_token[5,20] %>
            <%= hidden_field_tag :'user[skip_invitation]', 'true' %>
            <%= hidden_field_tag :'role[role_name]', 'leader' %>
            <%= hidden_field_tag :'group_id', params[:group_id] %>
          </div>

          <div>
            <%= f.submit 'submit', class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% elsif current_user.role.role_name == 'leader' %>
  <div class="background">
    <div class="tabs" data-tab-target="info">
      <div class="tab-size"><%= link_to 'Dashboard', ''  %></div>
      <div class="tab-size"><%= link_to 'Settings','' %></div>
      <div class="tab-size"><%= link_to 'Curriculum', '' %></div>
      <div class="tab-size"><%= link_to  'Analytics', ''%></div>
      <div class="tab-size"><%= link_to  'Reminders', ''%></div>
      <div class="tab-size" data-action="tab#infoShow"><%= link_to  'View Members', new_user_invitation_path  %></div>
      <div class="tab-size"><%= link_to  'Invite Organization', ''%></div>
    </div>
    <div class="form">
      <div class="form_data">
        <h2 style='text-align: center'>Add A New Member to Your Group</h2>
        <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { class: 'invite_member', method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div>
            <h4>First Name:</h4>
            <%= text_field_tag :'user_profile[first_name]'  %><br />
          </div>

          <div>
            <h4>Last Name:</h4>
            <%= text_field_tag :'user_profile[last_name]'  %><br />
          </div>

          <div>
            <h4>Phone:</h4>
            <%= text_field_tag :'user_profile[phone]' %><br />
          </div>

          <% resource.class.invite_key_fields.each do |field| -%>
            <div>
            <h4>Email:</h4>
              <%= f.text_field field %>
            </div>
          <% end -%>

          <div class="actions member_button">
            <%= f.submit t("devise.invitations.new.submit_button") %>
          </div>

          <div>
            <%= hidden_field_tag  :'user[password]' , Devise.friendly_token[5,20] %>
            <%= hidden_field_tag :'user[skip_invitation]', 'true' %>
            <%= hidden_field_tag :'role[role_name]', 'member' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="form_data info">
    <h2>Members</h2>
  </div>
<% else %>
  <div>
    <h2>Ops! you are not authorize for this action</h2>
  </div>
<% end %>
